<a href="https://colab.research.google.com/github/Hemanath17/MLalgorithms/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Decision tree is the method of prediction of a certain data value by making a tree shaped data chart in form of branches from the gathered data

In [17]:
#import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [18]:
from google.colab import files 
files.upload()

Saving salaries.csv to salaries (1).csv

{'salaries.csv': b'company,job,degree,salary_more_then_100k\ngoogle,sales executive,bachelors,0\ngoogle,sales executive,masters,0\ngoogle,business manager,bachelors,1\ngoogle,business manager,masters,1\ngoogle,computer programmer,bachelors,0\ngoogle,computer programmer,masters,1\nabc pharma,sales executive,masters,0\nabc pharma,computer programmer,bachelors,0\nabc pharma,business manager,bachelors,0\nabc pharma,business manager,masters,1\nfacebook,sales executive,bachelors,1\nfacebook,sales executive,masters,1\nfacebook,business manager,bachelors,1\nfacebook,business manager,masters,1\nfacebook,computer programmer,bachelors,1\nfacebook,computer programmer,masters,1'}

In [19]:
#load dataframe
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [20]:
#drop the column which is unncessary
inputs = df.drop('salary_more_then_100k',axis='columns')

In [21]:
target = df['salary_more_then_100k']

In [22]:
#encode the company,job, deg column into numbers 
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [23]:
inputs['company_n'] = le_company.fit_transform(inputs['company']) #perform fitting the model
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [24]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [25]:
#delete the label columns
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

In [26]:
inputs_n.head(5)

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [27]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [28]:
#create decision tree classifier
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [29]:
#train model without splitting the data to be simple
model.fit(inputs_n, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
model.score(inputs_n,target) #predict the score of accuracy

1.0

The score will be 1 becauee I'm using same dataset which is used for training.
if I split the data into training and testing dataframe it will not be 1.0

Predict the salary of Google, Computer Engineer having Bachelors degree whether gets a salary more than 100 k  or not

In [31]:
model.predict([[2,1,0]])

array([0])

Predict the salary of Google, Computer Engineer having Bachelors degree whether gets a salary more than 100 k  or not

Note: 1 is yes, 0 is no

In [32]:
model.predict([[2,1,1]])

array([1])